*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #73b4ff;
    padding: 10px 2%;
    display: flex;
    justify-content: space-between;
}

.info-header {
    color: white;
    display: flex;
}

.info-header img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 8px;
}

.info-header i{
    margin: 0 10px ;
}

.icons-header {
    margin-left: 10px;
}